/*  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

a{
    text-decoration: none;
}

.main_section{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    background: #1d1d1d;
}
  


/* End */