/*  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1d1d1d;
}
.cardContainer {
    width: 400px;
    height: 460px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition-duration: .5s;
    cursor: pointer;
  }
  
  .profileDiv {
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(57, 57, 57); */
    background: url("https://cdn.pixabay.com/photo/2023/04/14/21/38/wallpaper-7926098_640.jpg") no-repeat;
    background-size: cover;
    transition-duration: .5s;
    color: rgb(155, 155, 155);
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
  }
  
  .cardContainer:hover .profileDiv {
    transform: translateX(-25%) translateY(-20%);
    transition-duration: .5s;
  }
  
  .infoDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    z-index: 1;
  }
  
  .nameDiv {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: aliceblue;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    gap: 2px;
  }
  
  .name {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    color: black;
  }
  
  .role {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: 400;
    color: rgb(48, 48, 48);
    margin-bottom: 5px;
  }
  
  .socialDiv {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(14, 14, 14);
    gap: 25px;
  }
  
  .infoDiv a {
    width: 50%;
  }
  
  .socials {
    width: 100%;
    fill: rgb(14, 14, 14);
  }
  


/* End */